<% include ../partials/header %>

  <div class="collection-container">

    <div class="collection-header">
      <h2>Welcome to your vinyl collection  <%= currentUser.username.charAt(0).toUpperCase() + currentUser.username.slice(1) %> </h2>
      <h3>Use this webapp to keep track of your vinyl collection</h3><br>
      <a href="/collection/new">Add a new vinyl to your collection</a>
    </div>
  </div>
    <% include ../partials/notification %>

  <div class="collection-container">
    <div class="collection-cards">
        <% vinyls.forEach(vinyl => { %>
          <div class="collection-card">
            <img src="<%= vinyl.images[0].uri %>">
            <div class="content">
              <span class="title"><%= vinyl.title %></span><br>
              <span class="artist"><%= vinyl.artist %></span>
              <a class="btn" href="/collection/<%= vinyl._id %>">View</a>
            </div>
          </div>
       <% }); %>
    </div>
       
  </div>
  </div>

</body>
</html>