<% include ../partials/header %>

  <div class="show-container">
    <div class="show-header">
        <div class="show-title">
            <h2><%= vinyl.title %></h2>
            <h3><%= vinyl.artist %></h3>
        </div>
        <div class="show-btns">
            <a class="btn" href="#">Discogs Link</a>
            <a href="/collection/<%= vinyl._id %>/edit" class="btn">Edit</a>
              <form action="/collection/<%= vinyl._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete">
        </div>
    </div>
    <div class="show-left">
        <div class="show-img-grid">
          <div class="left">
            <img class="show-large" src="<%= vinyl.images[0].uri %>">
          </div>
          <div class="sright">
            <img class="show-small" src="<%= vinyl.images[1].uri %>">
            <img class="show-small" src="<%= vinyl.images[2].uri %>">
          </div>
        </div>

        <div class="show-info">
          <span>Genre:</span>  <%= vinyl.genres %><br>
          <span>Label(s):</span> <% vinyl.labels.forEach((label, i, arr) => { %>
              <% if(i === (arr.length - 1)) { %>
                  <%=label.labelName %>
                <% } else { %>
                  <%=label.labelName %> /
                <% } %>
                <% }); %> <br>
          <span>CatNo:</span>  <%= vinyl.labels[0].catno %><br>
            <span>Price:</span> $<%= vinyl.price %><br>
            <span>Condition:</span> <%= vinyl.condition %><br>
        </div>
    </div>

    <div class="show-right">
        <div class="show-tracklist">
          <h4>Tracklist</h4>
            <table>
              <thead>
                  <tr>
                      <th>Position</th>
                      <th>Title</th>
                      <th>Duration</th>
                    </tr>
              </thead>
                <tbody>

                <% vinyl.tracklist.forEach(track => { %>
                <tr>
                    <td><%= track.position %> </td>
                    <td><%= track.title %> </td>
                    <td><%= track.duration %></td>
                </tr>
                <% }); %>
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/thumbnails.js"></script>

  </body>

</html>
